body {
    color: #2a2b2a;
    background: #f3efe0;
    font-family: "Montserrat", sans-serif;
    }
    
    .header {
    background: #f9c945;
    padding: 50px 0;
    border-bottom: 3px solid white;
    text-align: center;
    }
    
    h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 30px;
    display: inline-block;
    border: 3px solid white;
    color: white;
    }

    ul
    {

    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
    }

    p
    {
     margin: 5px; 
    }

    li
    {
    display: flex;
    align-items: stretch;
    width: 48%;
    padding: 10px 0px;
    }

    .menu-name
    {
    flex: 0 0 auto;
    font-weight: 500;
    font-size: 1em;
    }

    .dots
    {
        border-bottom: 1px dotted black;
        margin-bottom: 5px;
        flex: 1 1 50%;
    }

    .menu-price
    {
    font-size: 1em; 
    }